<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <div class="links" style="display: flex;flex-direction: column; gap: 10px;">
        <div class="link">
          <a href="/login">Login</a>
        </div>
        <div class="link">
          <a href="/signup">Signup</a>
        </div>
      </div>
    </div>
  </body>
</html>
